body{
    background-color: rgb(100, 50, 58);
    color: rgb(104, 133, 133);
    font-weight: bolder;
}
h1{
    color: rgb(150, 150, 207);
    background-color: gray;
}
button{
    width: 120px;
    font-size: 20px;
    border-radius: 20px;
    background-color: aquamarine;
}